<div class="title">
    <h3>{{ location?.cityName }} Weather</h3>
    <button class="normal">Refresh</button>
</div>
<div class="weather-details">
    <div class="img-icon">
        <img src="./assets/images/weather-icons/cloudy-day-1.svg" alt="">
    </div>
    <div class="details">
        <h5>Temperature </h5>
        <h5>Sky </h5>
        <h5>Wind </h5>
        <h5>Pressure </h5>
    </div>
</div>

<div class="weekly-wrapper">
    <div class="daily-cards">
        <h5>10 March</h5>
        <img src="./assets/images/weather-icons/cloudy-day-1.svg" alt="">
        <h4>10C</h4>
    </div>
</div>          